<nav class="navbar bg-neutral-content">
  <a routerLink="">Accueil </a>
  <a routerLink="/composant-parent-enfant"> Composant parent / enfant</a>
  <a routerLink="/directive-if">directive {{"@if"}}</a>
  <a routerLink="/directive-for">directive {{"@for"}}</a>
  <a routerLink="/bind-des-props-et-evevenements">Binding des propriétés et évènements HTML</a>
  <a routerLink="/compteur">Compteur</a>
  <a routerLink="/input-avec-ng-model">Input avec ngModel</a>
  <a routerLink="/exercice">Exercice</a>
  <a routerLink="/requete-api">requête API</a>
  <a routerLink="/signals">Les signaux</a>
</nav>