<section>
  <h1>Exercice</h1>

  <pre>
    - Créer un composant 'tableau' (ou liste) pour afficher mes produits
        (pour trier, on peut utiliser le .filter())
    - Appeler deux fois le composant enfant
      -> Le premier tableau affiche les fruits
      -> Le second affiche les légumes
    - Ajouter une case à cocher pour masquer/afficher les produits qui ne sont plus en stock (propriété 'quantite')
  </pre>

  <!--
  <input type="checkbox" />

  <app-tableau data="fruits" />
  <app-tableau data="legume" />

  -->


</section>