<section>
  <h1>Les requêtes aux API</h1>

  <p>Pour effectuer des requêtes HTTP avec angular, il est recommandé d'utiliser 'HttpClient'</p>
  <p>'HttpClient' est un outil angular</p>

  <!--
  @if(news.length > 0 ){
  @for(n of news ; track n.id){
  <ul>
    <li>{{n.titre}}</li>
    <li>
      <img [src]="n.image" />
    </li>
  </ul>
  }
  } @else {
    <p>Chargement des données ....</p>
  }

  @if(error){
  <p>Une erreur est survenue: message d'erreur -> {{error.message}}</p>
  }
  -->

  @if(error){
  <p>Une erreur est survenue</p>
  <p>Si on veut afficher le message d'erreur de l'erreur reçue :
    {{error.message}}
  </p>
  } @else {

  @if(news.length > 0) {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    @for(n of news ; track n.id){
    <app-news-card [news]="n" />
    }
  </div>
  }
  @else {
  <p>Chargement des news ...</p>
  }

  }



</section>