<section>

  <h1>Donnée partagée : {{data}}</h1>


  <h1>{{title}}</h1>
  <p>Résultat de 3 + 3 : {{ 3 + 3 }}</p>
  <h1>{{ displayTitle() }}</h1>
  <p>{{ fullName }}</p>
  <p>Affichage d'un type complexe: </p>
  <p>tableau : {{numbers}}</p>
  <p>objet : {{user}} </p>
  <h1>Utilisateur: </h1>
  <ul>
    <li>{{user2.firstName}}</li>
    <li>{{user2.lastName}}</li>
  </ul>
  <h1>Utilisataur typé avec la class</h1>
  <ul>
    <li>{{user4.firstName}}</li>
    <li>{{user4.lastName}}</li>
  </ul>
</section>